.c-p-sumup {
  font-family: "Montserrat";
  background-image: url("../../images/background/background-pages.webp");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: white;
}

.c-p-sumup__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.s-t-sumup {
  display: flex;
  justify-content: center;
}

.s-t-sumup__img {
  width: 100%;
  max-width: 920px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.s-h-sumup {
  text-align: center;
}

.s-h-sumup__title {
  font-size: 2rem;
  font-weight: 600;
  color: #008cff;
  margin-bottom: 24px;
  text-shadow: -2px 3px 8px #000000a9;
}

.s-h-sumup__desc {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

.s-o-sumup,
.s-s-sumup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.s-o-sumup__title,
.s-s-sumup__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #008cff;
  text-shadow: -2px 3px 8px #000000a9;
}

.s-o-sumup__text,
.s-s-sumup__text {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

.s-lk-sumup {
  text-align: center;
  margin-top: 20px;
}

.s-lk-sumup__btn {
  padding: 10px 20px;
  background-color: #008cff;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

.s-lk-sumup__btn:hover {
  
  color: #fff;
}

@media (max-width: 768px) {
  .s-h-sumup__title {
    font-size: 1.5rem;
  }

  .s-h-sumup__desc,
  .s-o-sumup__text,
  .s-s-sumup__text {
    font-size: 1rem;
  }

  .s-lk-sumup__btn {
    font-size: 1rem;
  }
}
