.projects-section h2 {
  font-family: "Montserrat", Courier, monospace;
  font-size: 36px;
  font-weight: 500;
  color: #ff0004;
  margin-bottom: 18px;
  text-shadow: #0000004d -5px 4px 11px;
  
  
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 24px;
  padding: 20px 0;
  margin-top: 8px;
}
.projects-section{
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 14px;
  margin: 0 auto;
  width: 100%;
  min-height: 110vh;
  max-width: 95%;

  
}

.projects-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-button {
    
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background: #ff000480;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .filter-button.active {
    background: #ff0004;
    color: white;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .projects-section {
      align-items: center;
    } 
  }
  