.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.575);
  overflow: hidden;
  transition: transform 0.5s ease;
  width: 100%;
  max-width: 420px;
  
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 100%;
  object-fit: cover;
  max-width: 420px;
  max-height: 248px;
}

.project-info {
  background-color: #6e6e6e4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  text-align: center;
}

.project-title {
  font-family: "Inconsolata", Courier, monospace;
  color: white;

  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.btn-to-page {
  font-family: "Montserrat";
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  width: 92px;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  height: 32px;
  background-color: #ff0004;
  color: white;
  box-shadow: 0px 0px 12px #ff000496;
}

.btn-to-page:hover {
  background-color: #ff000470;
  transition:  0.5s;
}

@media (max-width: 768px) {
  .project-title{
    font-size: 1.1em;
    
  }
}