.sec-b-p {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../public/images/background/background-pages.webp");
  background-size: cover;
}
.img-t-p {
  display: flex;
  width: 100%;
  max-width: 680px;
  height: 100%;
  max-height: 640px;
  gap: 16px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.308);
  object-fit: contain;
}
.s-b-p {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 920px;
  align-items: right;
  background: none;
  margin: 24px;
}
.t-b-p {
  font-size: 38px;
  color: #4e9aff;
  text-shadow: -2px 3px 8px #000000a9;
  background: none;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 600;
}

.p-b-p {
  font-size: 24px;
  color: white;
  background: none;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 200;
  height: 100%;
  margin-top: 24px;
  line-height: 1.5;
}

.spn-to-f-sys-p {
  text-decoration: underline;
  color: #4e9aff;
  text-shadow: 5px 1px 12px rgba(0, 0, 0, 0.486);
  font-weight: 600;
}

.btn-to-f-sys-p {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.links-Sys-php {
  margin: 20px;
}
