.nav-container .navbar-desk {
  position: absolute;
  display: flex;
  width: 1440px;
  height: 54px;
  max-width: 100%;
  padding: 0 48px;
  justify-content: space-between;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
}

.navbar-desk .nav-list ul {
  width: 480px;
  max-width: 100%;
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  font-size: 20px;
  font-weight: 500;
  text-shadow: #0000004d -5px 4px 11px;
  list-style-type: none;
}

.nav-list a {
  color: #ff0004;
  text-decoration: none;
  cursor: pointer;
}

.nav-list a:hover {
  color: #c00104;
  transition: 0.4s;
}
