.social-container {
  position: absolute;
  top: 35%;
  left: 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;

  width: 100%;
  max-width: 48px;

  border-radius: 12px;
  box-shadow: 0 0 19px 0.1px rgba(0, 0, 12px, 0.1);
}

.social-container a,
li {
  list-style-type: none;
  text-decoration: none;
}

.social-container a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  margin: 12px;
  max-height: 48px;
  max-width: 48px;
}
.social-container li {
  align-items: center;
  padding: auto;
  margin: 0 auto;
  width: 44px;
}

.icon-social{
  width: 48px;
  height: 48px;
  opacity: 70%;
}

@media (max-width: 768px) {
   .social-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 440px;
  margin: 0 auto;
  top: 90%;
  left: 0;
  margin: 0 auto;
   }
   .social-container a {
    display: inline;
    max-width: 364px;
   }
}