.sec-b-m {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../public/images/background/background-pages.webp");
  background-size: cover;
}
.img-t-m {
  display: flex;
  width: 100%;
  max-width: 920px;
  height: 100%;
  max-height: 640px;
  gap: 16px;
  padding: 12px;
  object-fit: contain;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.308);
}
.s-b-m {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 920px;
  align-items: right;
  background: none;
  margin: 24px;
}
.t-b-m {
  font-size: 38px;
  color: #ffffff;
  text-shadow: -1px 1px 8px #0003c9;
  background: none;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 600;
}

.p-b-m {
  font-size: 24px;
  color: white;
  background: none;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 200;
  height: 100%;
  margin-top: 24px;
  line-height: 1.5;
}

.btn-to-f-my-shop {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.sp-t-my-shop {
  color: #ffffff;
  text-shadow: 5px 1px 12px #0003c9;
  font-weight: 700;
  text-decoration: underline;
}
