.section-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 70px;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 90vh;
}

#container-texts {
  width: 100%;
  max-width: 510px;
  font-family: "Montserrat", "Courier", "Monospace";
  color: white;
  text-align: left;
  padding: 32px;
  
}

.section-contact h1 {
  color: #ff0004;
  margin-bottom: 18px;
  font-size: 48px;
  font-weight: 500;
  text-shadow: -5px 2px 7px #ff000421;
}

.section-contact h3 {
  font-size: 24px;
  font-weight: 200;
}

#form-area {
  width: 100%;
  max-width: 470px;
  font-family: "Montserrat";
  
  
}

#form-area textarea,
#form-area input {
  display: block;
  width: 470px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 18px 12px;
  font-family: "Montserrat";
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  resize: none;
  
  box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.089);;
}
#form-area .btn-submit {
  background-color: #ff0004;
  font-size: 17px ;
  font-weight: 500;
  color: white;
}
#form-area textarea{
  height: 120px;
}

#form-area .formContact .form-itens {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}



@media (max-width: 768px) {
  .section-contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #container-texts {
    text-align: center;
    padding: 16px;
  }

  #form-area  {
    
    margin: 0px;
  }
  #form-area input,
  #form-area textarea {
    width: 440px;
  }
}
